
body {
  margin:0px;
  padding: 0;
  font-family: sans-serif;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.terminalcontainer{
  align-content: center;
  margin: 100px 400px;
}

#terminalbar{
  height: 30px;
  max-width: 600px;
  background: #c2c4c2;
  border-radius: 5px 5px 0px 0px;
  border-color: black;
}

div#terminalbody{
height: 400px;
max-width: 600px;
background: white;
border-radius: 0px 0px 5px 5px;
border-color: black;
-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.59);
-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.59);
box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.59);
overflow: hidden;

}

input[type=text]{
  border: none;
  padding: 0; 
  outline: none;
  font-family: sans-serif;
}

input[type=text]:focus {
  border: none;
  padding: 0; 
  outline: none;
  font-family: sans-serif;

}
#content {
  padding: 20px;
  height: 100%;
}
.holder {
  overflow: auto;
}
.prompt {
  color: #d28445;
} 

#app, div.input-area {
  height: 100%;
}